/* Reset some default styles */
body, h1, h2, p, span {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f9fa;
}

/* Rest of your CSS styles */

/* Additional CSS styles */
#about {
    background-color: #ffffff;
    padding: 50px 0;
    text-align: center;
}

.profile-text {
    font-weight: 400;
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb(52, 51, 51);
}

/* Add more styles as needed */
